<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{components/basepage :: basepage}">

<head>
    <object th:include="components/basepage :: title" th:remove="tag"></object>
</head>	

<body>
	<div id="Content" class="container-full-bg">
		
		<h3>Tambah Jadwal Jaga</h3>
		<div class="card">
			<form th:action="@{/lab/jadwal-jaga/tambah}" th:object="${jadwalJaga}" method="POST">
				<table>
					<thead>
						<tr>
							<th> Tanggal </th>
							<th> Jam Mulai </th>
							<th> Jam Selesai </th>
							<th> Staff </th>
							<th>
								<button type="submit" name="add-more" class="btn btn-primary">Add More</button>
							</th>
						</tr>
					</thead>
					<tbody id="tableContent">
						<tr th:each="jadwal,iterationStatus : *{listJadwalJaga}">
							<td>
								<input type="date" name="tanggal" id="tanggal" th:field="*{listJadwalJaga[__${iterationStatus.index}__].tanggal}" required>
							</td>
							<td>
								<input type="time" name="waktuMulai" id="waktu_mulai" th:field="*{listJadwalJaga[__${iterationStatus.index}__].waktuMulai}" required>
								
							</td>
							<td>
								<input type="time" name="waktuSelesai" id="waktu_selesai" th:field="*{listJadwalJaga[__${iterationStatus.index}__].waktuSelesai}" required>
							</td>
							<td>
								<select name="idStaff" id="staff" th:field="*{listJadwalJaga[__${iterationStatus.index}__].idStaff}" required>
									<option th:each="staff : ${listStaff}" th:value="${staff.id}" th:text="${staff.nama}"></option>
								</select>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" class="btn btn-primary mb-2">Save</button>
			</form>
		</div>
		
	</div>
</body>
	
</html>